@{
    ViewData["Title"] = "Home Page";

    string title = "EZ-Shop";
    string description = "Shopping made easy";
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
    <p>@description</p>
</div>
